@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

body{
  color: #fff;
}
.container{
  width: 100%;
  height: calc(100vh-70px);
  /* background-image: url(back.jpg); */
  /* 168,215,223 */
 
  background-position: center;
  background-size: cover;
  padding-top: 35px;
  padding-left: 8%;
  padding-right: 8%;
}
nav{
  width: 100%;
  height: 70px;
  background-color:rgb(23, 29, 107);
  padding:0 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.logo a{
  font-size: 40px;
  text-decoration: none;
}
span{
  color: #f9004d;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}
nav ul li a{
  text-decoration: none;
  transition: 0.5s;
  color: white;
}
nav ul li a:hover{
  color: darkblue
}
.login{
  text-decoration: none;
  margin-right: 15px;
  font-size: 18px;
}
.btn{
  background: #000;
  border-radius: 6px;
  padding: 9px 25px;
  text-decoration: none;
  transition: 0.5s;
  font-size: 18px;
}
.main {
    margin: 0 auto;
    width: 70%;
    height: 40%;
    border-radius: 2%;
    /* 60,98,110 */
    background-color: rgb(244, 247, 248);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -9px 8px 60px -1px rgba(0,0,0,0.66);
-webkit-box-shadow: -9px 8px 60px -1px rgba(0,0,0,0.66);
-moz-box-shadow: -9px 8px 60px -1px rgba(0,0,0,0.66);
    
}

.content{
    color: darkblue;
    text-align: center;
}
.content h2{
  font-size: 60px;
 
  
}
.content p{
  margin-top: 10px;
  line-height: 25px;
  
}

.summary {
    
   margin-top: 10%;
}
.summary-container{
    margin-top: -0.4%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-display: box;
  -moz-display: box;
  -ms-display: flexbox;
  -webkit-display: flex;
  padding: 0;
  margin: 0;
   
}
a{
  color: #fff;
}
.link {
  margin-top: 30px;
  text-align: center;
}
.hire{
  color: #000;
  text-decoration: none;
  background: #fff;
  padding: 9px 25px;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.5s;
}
.link .hire:hover{
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.cards {
    display: flex;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 33%;
  }
  @media (min-width: 40rem) {
    .cards {
      width: 50%;
    }
  }
  @media (min-width: 56rem) {
    .cards {
      width: 33.3%;
    }
  }
  .cards .card-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
  }
  .cards .card-item:hover {
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  .cards .card-item:hover .card-image {
    opacity: 1;
  }
  .cards .card-info {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
    line-height: 1.5em;
  }
  .cards .card-title {
    font-size: 25px;
    line-height: 1.1em;
    color: #32325d;
    margin-bottom: 0.2em;
  }
  .cards .card-image {
    height: 200px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-color: whitesmoke;
    background-repeat: no-repeat;
    border-radius: 6px 6px 0px 0px;
    opacity: 0.91;
  }
  .about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    
  }
  .about-right > img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
  }
  .about-left >h2 {
    color: red;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 10px;
  }
  .about-left > span {
    font-size: 30px;
    font-weight: 700;
    color: darkblue;
  }

  .contact-form {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: darkblue;
  }
  .contact-form > label {
    font-size: larger;
    font-weight: 500;
  }
  .contact-form > input {
    width: 100%;
    height: 40px;
    padding: 20px;
    border-width: 2px;
    border-color: blue;
    border-radius: 10px;
    color :red;
    font-size: medium;
  }

  .contact-form > input::placeholder{
    color: darkblue;
    font-size: large;
    padding: auto;
  }
 
  .contact-form > button {
    width: 100%;
    height: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    background-color: darkblue;
    color: white;
    margin-top: 20px;
  }
  
  .location {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .location > img {
    width: 70%;
    height: 80%;
    object-fit: cover;
  }



  
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}